body, html {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex: 1;
  background: red;
  min-height: 3.5rem;
}

#main {
  height: 100%;
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: blue;
  padding-top: 1rem;
}

.content {
  flex: 3;
  background: indigo;
  padding-top: 1rem;
}

.container {
  padding: 0 1.5rem;
}