/* body.dark-theme {
  background-color: #000000;
}

body.light-theme {
  background-color: #FFFFFF;
}

body.dark-theme .btn {
  background-color: aqua;
}

body.light-theme .btn {
  background-color: violet;

} */

:root {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: blue;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: darksalmon;
  }
}

