*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

img {
  border-style: none;
}

button [type="button"],
button [type="submit"]
button [type="reset"] {
  -webkit-apperance: button;
}

input {
  font-size: 1em;
}

textarea {
  overflow: auto;
  font-size: 1.1em;
}

[hidden] {
  display: none;
}