// @import 'var'; -> outra forma de importar
@use 'var';

@function setBorder($arg...) {
  @return $arg;
}

body {
  @if var.$type == dark {
    background-color: var.$primary-color;
  } @else {
    background-color: var.$primary-color-light;
  }
  color: var.$second-color;
}

div {

  h1 {
    padding: calc((20rem - 10rem) / 2);
    color: chartreuse;
    border: setBorder(1px solid blue);
    small {
      color: red;
    }
  }

  &:before {
    $text: 'before';
    content: "My Before pseudo element " + $text;
  }

}