// @import 'var'; -> outra forma de importar
@use 'var';

@function setBorder($arg...) {
  @return $arg;
}

@mixin padding($top, $rigth, $bot, $left) {
  padding-top: $top;
  padding-right: $rigth;
  padding-bottom: $bot;
  padding-left: $left;
}

@mixin transform ($props) {
  transform: $props;
  -moz-transform: $props;
  -webkit-transform: $props;
  -o-transform: $props;
  -ms-transform: $props;
}

@function setFontResp($fontSize) {
  $fontSizeRem: calc($fontSize / 16px);
  @return $fontSizeRem * 1rem;
}

@mixin setFontSize($size) {
  font-size: setFontResp($size);
}

body {
  @if var.$type == dark {
    background-color: var.$primary-color;
  } @else {
    background-color: var.$primary-color-light;
  }
  color: var.$second-color;
}

div {

  h1 {
    @include padding(2rem, 0, 2rem, 0);
    color: chartreuse;
    border: setBorder(1px solid blue);

    small {
      @include transform(rotate(90deg));
      color: red;
      @include setFontSize(20px);
    }
  }

  &:before {
    $text: 'before';
    content: "My Before pseudo element " + $text;
  }

}