@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
  font-family: "MyFont";
  src: url(./fonts/Candara.ttf);
}


.text1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

.text2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text3 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
}

.text3:hover {
  text-overflow: inherit;
  overflow: visible;
}

.text4 {
  width: 140px;
  border: 1px solid #000000;
  word-break: keep-all;
}

.text5 {
  width: 140px;
  border: 1px solid #000000;
  word-break: break-all;
}

.text6 {
  width: 140px;
  border: 1px solid #000000;
  word-wrap: break-word;
}

.font1 {
  font-family: 'Pushster', cursive;
}

.font2 {
  font-family: 'Ubuntu', sans-serif;
}

.font3 {
  font-family: 'MyFont', sans-serif;
}
